body {
    font-family: iranyekan;
}
table {
    width: 40%;
    border-spacing: 5px;
    margin: 0 auto;
}
tabel,td {
    border: 2px solid #607d8b;
}
td {
    padding: 5px;
    text-align: center;
}
th {
    background-color: #2196f3;
    color: #fff;
    border: 2px solid #ccc;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(even):hover {
    background-color: #4caf50;
    color: #fff;
}
tr:nth-child(odd):hover {
    background-color: #f44336;
    color: #fff; 
    transition: 0.5s;
}
