body {
    font-family: iransans;
}
table {
    width: 100%;
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
td {
    padding: 5px;
}
tr:nth-child(even) {
  background-color: #ccc;  
}